@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: oklch(12.9% 0.042 264.695);
  --text-color: #000000;
  --white: #ffffff;
  --color-emerald-500: oklch(69.6% 0.17 162.48);
  --font-family-base: var(--font-nunito), "Nunito", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-family-base: var(--font-nunito), "Nunito", -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-family-base);
}
